{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to TrimIt {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="url">URL</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">https://example.com</span>
            <input type="text" class="form-control" name="original_url" placeholder="URL to shorten" id="basic-url"
                aria-describedby="basic-addon3" value="{{ request.form['original_url'] }}" autofocus>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="custom_id" id="custom_id" placeholder="Want to customise? (optional)"
            class="form-control" value="{{ request.form['custom_id'] }}"></input>
        <label for="custom_id">Custom Short ID</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% if short_url %}
<hr>
<span>{{ short_url }}</span>
{% endif %}

<div class="container">
    <h3 class="header-m pb-3"
        style="text-align: center; max-width: 800px; margin-left: auto; margin-right: auto; margin-top: 50px;">
        TrimIt's Connections Platform</h3>
    <h4 style="text-align: center; max-width: 800px; margin-left: auto; margin-right: auto;">All the products you
        need to build brand connections, manage links and QR Codes, and connect with audiences everywhere, in a
        single unified platform.</h4>

   

    <div class="container d-md-flex flex-wrap mt-5 d-sm-flex">

        <div class="col">
            <div class="column mb-3 py-5">
            <div class="d-flex flex-column justify-content-between mx-2">
                <div class="d-flex align-items-center flex-column">
                    <div class="figure"><i class="m_ico_in"><img src="https://cutt.ly/img/m_ico_m_c_1.svg"
                                alt="URL Shortener"></i></div>
                    <h2>URL Shortener</h2>
                </div>
                <p class="of_main_2 text-center">TrimIt is a <strong>URL Shortener</strong> and <strong>Link
                        Management Platform</strong> with a lot of features that will help you handle all your links
                    in an intuitive way and reveal the potential of your links.</p>
            </div>
        </div>
    </div>

        <div class="col">
            <div class="column mb-3 py-5 pb-5">

            
            <div class="d-flex flex-column justify-content-between mx-2">
                <div class="d-flex align-items-center flex-column">
                    <div class="figure"><i class="m_ico_in"><img src="https://cutt.ly/img/m_ico_m_c_2.svg"
                                alt="Link Analytics"></i></div>
                    <h2>Link analytics</h2>
                </div>
                <p class="of_main_2 text-center">TrimIt is an advanced <strong>Link Analytics</strong> platform that
                    tracks clicks on short links and measures the effectiveness of clicks. Extensive statistics of
                    clicks on short links. Enjoy it!!</p>
            </div>
        </div>
        </div>

        <div class="col ">
            <div class="column mb-3 py-5 pb-5">
            <div class="d-flex flex-column justify-content-between mx-2">
                <div class="d-flex align-items-center flex-column">
                    <div class="figure"><i class="m_ico_in"><img src="https://cutt.ly/img/m_ico_m_c_4.svg"
                                alt="QR Codes"></i></div>
                    <h2>QR Codes</h2>
                </div>
                <p class="of_main_2 text-center">Generate <strong>QR codes</strong> and customize them according to
                    your style and manage their redirection so that QR codes reflect your brand and allow you to
                    grow your business.</p>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}